<div class="panel panel-default">
    <div class="panel-heading">
        Buscar @Model.Detalle
    </div>
    <div class="panel-body">
        @*<form role="form" action="Create" method="post">*@
            @*<div class="form-group has-success">
                <label class="control-label" for="inputSuccess">@Model.Detalle</label>
                <input type="text" class="form-control" id="ownerInquilino" name="Inquilino">
            </div>*@
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Apellido</label>
                <input type="text" class="form-control" id="garanteApellido" name="garanteApellido" placeholder="Apellido">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Nombre</label>
                <input type="text" class="form-control" id="garanteName" name="garanteNombre" placeholder="Nombre">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">DU</label>
                <input type="text" class="form-control" id="garanteDU" name="garanteDU" placeholder="Documento Único">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">TelefonoLaboral</label>
                <input type="text" class="form-control" id="garanteTelefonoLaboral" name="garanteTelefonoLaboral" placeholder="Telefono Laboral">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Domicilio</label>
                <input type="text" class="form-control" id="garanteDomicilio" name="garanteDomicilio" placeholder="Domicilio">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Nro. Matricula</label>
                <input type="text" class="form-control" id="garanteMatricula" name="garanteMatricula" placeholder="Matricula">
            </div>        
    </div>
</div>
