<div class="panel panel-default">
    <div class="panel-heading">
        Buscar @Model.Detalle
    </div>
    <div class="panel-body">
        <form role="form" action="Create" method="post">
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">@Model.Detalle</label>
                <input type="text" class="form-control" id="ownerInquilino" name="Inquilino">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Apellido</label>
                <input type="text" class="form-control" id="ownerApellido" name="Apellido" disabled="" placeholder="">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Nombre</label>
                <input type="text" class="form-control" id="ownerName" name="Nombre" disabled="" placeholder="">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">DU</label>
                <input type="text" class="form-control" id="" name="DU" disabled="" placeholder="">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">TelefonoLaboral</label>
                <input type="text" class="form-control" id="" name="TelefonoLaboral" disabled="" placeholder="">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Domicilio</label>
                <input type="text" class="form-control" id="" name="Domicilio" disabled="" placeholder="">
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Nro. Matricula</label>
                <input type="text" class="form-control" id="" name="Matricula" disabled="">
            </div>
        </form>
    </div>
</div>
