@model Inmobiliar.Models.PropiedadesModel
@*@{
    ViewBag.Title = "Create";
}*@

<div id="page-wrapper">
    <div id="page-inner">
        <h2>Create</h2>

        <form role="form" action="Create" method="post" >
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Calle</label>
                <input type="text" class="form-control" id="" name="domicilio.Calle">
                
            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Ciudad</label>
                <input type="text" class="form-control" id="" name="domicilio.Ciudad">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">CP</label>
                <input type="text" class="form-control" id="" name="domicilio.CP">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Piso</label>
                <input type="text" class="form-control" id="" name="domicilio.Piso">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Dto</label>
                <input type="text" class="form-control" id="" name="domicilio.Dto">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Barrio</label>
                <input type="text" class="form-control" id="" name="domicilio.Barrio">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Calle</label>
                <input type="text" class="form-control" id="" name="domicilio.Numero">
            </div>
            <div class="form-group has-error">
                <label class="control-label" for="inputError">Dueño</label>
                <input type="text" class="form-control" id="" name="Dueño">
                <input type="text" id="ownerName" name="Dueño.Nombre" />
            </div>
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Enviar" />
            </div>
        </form>
    </div>
</div>
