@Model Inmobiliar.Models.Login;
@{
    ViewBag.Title = "Login";    
}
<div id="page-wrapper">
    <div id="page-inner">      
        <form role="form" action="Logueo" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Ingreso al sistema</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                                <input type="text" class="form-control" placeholder="Usuario" id="idUsuario" name="NombreUsuario">

                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input placeholder="Contraseña" class="form-control" type="password" id="idPassword" name="Password">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input type="checkbox">Recordar cuenta
                                </label>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary pull-right" type="submit">Login</button>
                            </div>
                        </div>
                        <hr>
                        <h4>Olvidaste tu clave ?</h4>
                        <p>
                            <a href="#">Click aquí</a> para restablecer tu clave.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
