@model Inmobiliar.Models.PersonasModel
@{
    ViewBag.Title = "Clientes";
}

<div id="page-wrapper">
    <div id="page-inner">
        <h2>Create</h2>

        <form role="form" action="Create" method="post">
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Nombre</label>
                <input type="text" class="form-control" id="" name="Nombre">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Apellido</label>
                <input type="text" class="form-control" id="" name="Apellido">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Email</label>
                <input type="text" class="form-control" id="" name="Email">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Telefono</label>
                <input type="text" class="form-control" id="" name="Telefono">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">Celular</label>
                <input type="text" class="form-control" id="" name="Celular">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">TelefonoLaboral</label>
                <input type="text" class="form-control" id="" name="TelefonoLaboral">

            </div>
            <div class="form-group has-success">
                <label class="control-label" for="inputSuccess">DU</label>
                <input type="text" class="form-control" id="" name="DU">
            </div>
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Enviar" />
            </div>
        </form>
    </div>
</div>
