<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <namespace name="InmBLL" />
  <namespace name="InmDAL" />
  <namespace name="Inmobiliar.Models" />
  
  
  <assembly name="InmDAL" />
  <assembly name="InmBLL" />
  <assembly name="Inmobiliar" />



  <container>
    <register type="IGenericDAL" mapTo="GenericDAL">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="LoggingInterceptionBehavior" />
    </register>
    <register type="IGenericBLL" mapTo="PropiedadesBLL">
    </register>
  </container>

</unity>