@model Inmobiliar.Models.Login
<div id="Heather">
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a name="NombreUsuario"></a>            
        </li>
        @if (ViewBag.UsuarioLogueado == true)
          {         
            Html.RenderPartial("../Heather/_Tareas");
            Html.RenderPartial("../Heather/_Mensajes");
          }
         
            <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    
                    <a href="../Login/Index"><i class="fa fa-user fa-fw"></i> Login</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "fa fa-sign-out fa-fw" })
                    @*<a href="../Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>*@
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</div>